html, body {
  margin: 0;
  height: 100%; }

* {
  font-family: "Noticia Text", serif; }
  *::-moz-selection {
    background: #2C4251;
    color: white; }
  *::selection {
    background: #2C4251;
    color: white;
    background: black;
    color: white; }

h1, button {
  font-family: 'Playfair Display', serif; }

.navigation {
  width: 100%;
  height: 100px;
  background: white;
  position: relative;
  z-index: 888;
  -webkit-box-shadow: 0 0 10px #f1f1f1;
  box-shadow: 0 0 10px #f1f1f1; }
  .navigation .logoDiv {
    margin-top: 2px; }
    .navigation .logoDiv img {
      width: 95px; }
  .navigation .burgerParent {
    float: right;
    width: 100px;
    position: relative;
    top: 25px;
    display: none;
    height: 50px;
    overflow: hidden;
    cursor: pointer; }
    .navigation .burgerParent .cart {
      position: absolute;
      top: 5px;
      font-size: 25px; }
    .navigation .burgerParent .burger {
      position: absolute;
      top: 14px;
      left: 45px;
      width: 50px;
      height: 50px; }
      .navigation .burgerParent .burger .burger1, .navigation .burgerParent .burger .burger2, .navigation .burgerParent .burger .burger3 {
        position: absolute;
        width: 30px;
        height: 3px;
        border-radius: 9px;
        background: #2C4251; }
      .navigation .burgerParent .burger .burger2 {
        top: 8px; }
      .navigation .burgerParent .burger .burger3 {
        top: 16px; }
  .navigation .links ul {
    list-style: none;
    position: relative; }
    .navigation .links ul li {
      display: inline-block;
      padding: 40px;
      cursor: pointer;
      font-family: 'Playfair Display', serif;
      padding-right: 0;
      font-size: 18px;
      position: relative; }
      .navigation .links ul li:hover {
        color: white; }
        .navigation .links ul li:hover:before {
          top: -5px; }
      .navigation .links ul li:before {
        width: 100%;
        height: 100%;
        background: black;
        -webkit-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
        z-index: -1;
        content: "";
        top: -110%;
        left: 21px;
        display: block;
        position: absolute; }
      .navigation .links ul li:last-child i {
        font-size: 20px; }
  .navigation .cartCounter {
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    overflow: hidden;
    top: 30px;
    left: 50px; }
    .navigation .cartCounter p {
      color: white;
      position: absolute;
      left: 8px;
      top: -1px;
      font-size: 15px; }
  .navigation .cartPreview {
    width: 250px;
    height: auto;
    right: 0;
    background: white;
    -webkit-box-shadow: 0 5px 10px lightgrey;
    box-shadow: 0 5px 10px lightgrey;
    position: absolute;
    top: -220px;
    opacity: 0;
    padding: 10px;
    display: none;
    border-top: 1px solid #efefef; }
    .navigation .cartPreview div {
      position: relative;
      margin-top: 10px; }
      .navigation .cartPreview div .removeBtn {
        position: absolute;
        right: 0;
        top: -5px;
        z-index: 33;
        cursor: pointer; }
      .navigation .cartPreview div .productImage {
        width: 70px;
        display: inline-block;
        height: 70px;
        overflow: hidden;
        background-size: cover !important;
        background-position: center !important; }
      .navigation .cartPreview div p {
        display: inline-block;
        position: absolute;
        right: 10px;
        width: 140px;
        word-break: break-word;
        font-size: 17px; }
        .navigation .cartPreview div p span {
          font-size: 18px;
          position: relative;
          top: 5px; }
      .navigation .cartPreview div:last-child hr {
        display: none; }
    .navigation .cartPreview .sum {
      text-align: center;
      font-size: 18px; }
    .navigation .cartPreview .nextStep {
      padding: 10px;
      background: #2C4251;
      border: unset;
      color: white;
      outline: none;
      width: 100%; }

@media (max-width: 992px) {
  .navigation {
    position: fixed;
    top: 0; } }

@media (max-width: 992px) {
  .navigation .burgerParent {
    display: block; } }

@media (max-width: 992px) {
  .navigation .links {
    display: none; } }

.mobileMenu {
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 555;
  top: -100%;
  position: fixed;
  background: #2C4251;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .mobileMenu ul {
    list-style: none;
    padding: 0;
    text-align: center; }
    .mobileMenu ul li {
      padding-top: 15px;
      color: white;
      font-size: 25px; }

@media (max-width: 992px) {
  .mobileMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.header {
  width: 100%;
  height: 70vh;
  background: url("../img/headerNaslovna.jpg");
  background-size: cover !important;
  background-position: center !important; }
  .header .filter {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.33);
    position: relative;
    text-align: center;
    top: 0;
    left: 0; }
    .header .filter h1 {
      position: absolute;
      top: 50%;
      font-family: 'Playfair Display', serif;
      font-size: 50px;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: white; }

@media (max-height: 768px) {
  .header .filter h1 {
    font-size: 35px; } }

@media (max-width: 992px) {
  .header .filter h1 {
    font-size: 22px;
    line-height: 35px; } }

.content {
  margin-top: 50px;
  margin-bottom: 30px; }
  .content .contentTilt {
    margin-bottom: 30px; }
    .content .contentTilt .tilt {
      width: 100%;
      height: 300px;
      background: -webkit-linear-gradient(315deg, #2C4251 0%, black 100%);
      background: -o-linear-gradient(315deg, #2C4251 0%, black 100%);
      background: linear-gradient(135deg, #2C4251 0%, black 100%);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .content .contentTilt .tilt div {
        -webkit-transform: translateZ(20px);
        -moz-transform: translateZ(20px);
        transform: translateZ(20px);
        -webkit-box-shadow: 0 0 20px black;
        box-shadow: 0 0 20px black;
        /*background: white;*/
        background: rgba(52, 76, 93, 0.82);
        width: 200px;
        height: 150px;
        display: -webkit-box;
        display: -ms-flexbox;
        position: relative;
        z-index: 1;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .content .contentTilt .tilt div p {
          text-align: center;
          /*color: #475c6a;*/
          color: white;
          font-family: 'Playfair Display', serif;
          font-size: 35px; }
  .content .contentTxt p {
    font-size: 18px;
    text-align: left; }

@media (max-width: 992px) {
  .content .contentTilt .tilt div {
    -webkit-transform: unset;
    -moz-transform: unset; } }

.parallax {
  width: 100%;
  height: 400px;
  background: url("../img/parallax.jpg");
  background-size: cover !important;
  background-attachment: fixed;
  /*margin-bottom: 30px;*/
  padding: 80px 30px 80px 30px; }
  .parallax .path {
    -webkit-box-shadow: 0 0 10px #7d7d7d;
    box-shadow: 0 0 10px #7d7d7d;
    width: 100%;
    height: 100%;
    background: white;
    text-align: center; }
    .parallax .path div {
      top: 50%;
      -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      transform: translate(0%, -50%); }

@media (max-width: 992px) {
  .parallax {
    height: auto; }
    .parallax .path {
      padding: 20px; }
      .parallax .path div {
        top: 0 !important;
        -webkit-transform: unset !important;
        -ms-transform: unset !important;
        transform: unset !important; } }

.path p {
  margin-top: 20px; }

.homeShop {
  margin-bottom: 50px; }
  .homeShop h1 {
    text-align: center; }
    .homeShop h1 span {
      font-size: 15px;
      text-decoration: line-through; }
  .homeShop .productDiv {
    width: 100%;
    margin-top: 20px;
    height: auto;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    position: relative; }
    .homeShop .productDiv .akcijaDiv {
      width: 100%;
      height: 30px;
      background: #D30212;
      position: absolute;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      left: 80px; }
      .homeShop .productDiv .akcijaDiv p {
        color: white;
        margin-top: 3px;
        margin-left: 60px;
        font-size: 16px; }
    .homeShop .productDiv h2 {
      height: auto;
      font-size: 28px;
      min-height: 90px; }
    .homeShop .productDiv .productBackground {
      width: 100%;
      height: 200px;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center !important; }

.productDiv:hover .productBackground .filter {
  opacity: 1; }

.productBackground .filter {
  background: rgba(0, 0, 0, 0.12);
  width: 100%;
  opacity: 0;
  transition: .2s;
  height: 100%; }

.homeShop .productDiv button {
  padding: 10px;
  background: black;
  color: white;
  border: unset;
  outline: none;
  width: 100%;
  margin-top: 20px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .homeShop .productDiv button:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

.productDetails {
  padding-top: 50px; }
  .productDetails .images {
    width: 100px;
    cursor: pointer;
    height: 100px;
    background-size: cover !important;
    display: inline-block;
    overflow: hidden;
    background-position: center !important;
    margin: 5px; }
    .productDetails .images:first-child {
      width: 100%;
      height: 300px;
      display: block;
      margin: auto;
      text-align: center;
      margin-bottom: 10px; }
    .productDetails .images img {
      width: auto;
      height: 100%; }
  .productDetails .productMainImage {
    width: 100%;
    height: 300px;
    text-align: center;
    overflow: hidden; }
    .productDetails .productMainImage img {
      width: auto;
      height: 100%; }
  .productDetails .otherPhotos {
    width: 100px;
    display: inline-block;
    height: 100px;
    background-size: cover !important;
    background-position: center !important;
    margin-top: 10px;
    margin-right: 5px; }
  .productDetails .productTxt .dostupnost {
    color: #00c300; }

@media (max-width: 992px) {
  .productDetails .images {
    width: 90px;
    height: 90px; } }

.dostupnost img {
  width: 15px;
  margin-right: 10px;
  margin-bottom: 3px; }

.productDetails .productTxt .sizes select {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  outline: none;
  border: 1px solid black; }
  .productDetails .productTxt .sizes select option {
    font-size: 18px; }

.productDetails .productTxt p {
  font-size: 17px; }

.productDetails .productTxt h1 {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase; }
  .productDetails .productTxt h1:after {
    content: "";
    display: block;
    height: 1px;
    margin-top: 10px;
    width: 100%;
    background: black; }

.price span {
  font-size: 20px;
  text-decoration: line-through; }

.priceOtherInfo .price {
  font-size: 45px;
  margin-top: 35px; }
  .priceOtherInfo .price span {
    font-size: 20px;
    text-decoration: line-through; }

.priceOtherInfo .productQuantForm {
  margin-bottom: 20px;
  width: 100%;
  position: relative; }
  .priceOtherInfo .productQuantForm button {
    background: #2C4251;
    padding: 8px 12px;
    border: unset;
    position: absolute;
    top: 0;
    outline: none; }
    .priceOtherInfo .productQuantForm button:first-child {
      left: 0; }
    .priceOtherInfo .productQuantForm button span {
      color: white;
      font-size: 18px; }
  .priceOtherInfo .productQuantForm input {
    width: inherit;
    outline: none;
    text-align: center;
    border: 1px solid #2C4251;
    padding: 10px; }

.priceOtherInfo .addToCart {
  width: 100%;
  float: right;
  font-size: 18px;
  border: 1px solid #2C4251;
  z-index: 777;
  position: relative;
  padding: 15px;
  color: #2C4251;
  background: white;
  outline: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .priceOtherInfo .addToCart i {
    margin-left: 3px; }
  .priceOtherInfo .addToCart:hover {
    background: #2C4251;
    color: white; }

@media (max-width: 992px) {
  .priceOtherInfo .price {
    font-size: 35px; } }

@media (max-width: 992px) {
  .priceOtherInfo .addToCart {
    margin-top: 10px;
    margin-bottom: 50px; } }

.opisDiv {
  text-align: center; }
  .opisDiv h1:after {
    width: 150px;
    height: 1px;
    background: black;
    content: "";
    display: block;
    margin: auto;
    margin-top: 10px; }
  .opisDiv .duziOpisDiv {
    text-align: left; }
    .opisDiv .duziOpisDiv p {
      margin-bottom: 30px;
      margin-top: 30px;
      font-size: 18px; }

@media (max-width: 992px) {
  .duziOpisDiv img {
    width: 100% !important;
    height: auto !important; } }

.footer {
  width: 100%;
  padding: 25px;
  font-size: 17px;
  text-align: center;
  background: black;
  position: relative;
  z-index: 55; }
  .footer p {
    color: white; }
    .footer p a {
      text-decoration: none;
      font-family: 'Noticia Text', serif;
      color: white; }

.shopPage {
  padding-top: 50px; }
  .shopPage .shopHeader {
    width: 100%;
    border-bottom: 1px solid black;
    overflow: auto;
    margin-bottom: 20px; }
    .shopPage .shopHeader i {
      margin-top: 30px;
      font-size: 25px;
      cursor: pointer;
      margin-right: 10px; }
  .shopPage .products ul {
    list-style: none;
    padding: 0; }
    .shopPage .products ul li {
      display: inline-block;
      width: 290px;
      height: 350px;
      padding-right: 10px;
      margin-bottom: 70px;
      margin-top: 20px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      .shopPage .products ul li:hover {
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02); }
  .shopPage .filterDiv {
    width: 400px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    height: auto;
    background: #f3f3f3;
    margin-bottom: 30px; }
    .shopPage .filterDiv label {
      font-weight: 100; }
    .shopPage .filterDiv h1 {
      margin-top: 0;
      color: white;
      background: black;
      width: 100%;
      padding: 15px; }
    .shopPage .filterDiv ul {
      list-style: none;
      margin-top: -30px;
      padding: 10px;
      padding-bottom: 40px; }
      .shopPage .filterDiv ul .brandTitle:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none; }
      .shopPage .filterDiv ul .brandTitle h3 img {
        width: 30px;
        margin-right: 10px; }
      .shopPage .filterDiv ul .slider {
        width: 90%;
        margin-top: 35px; }
        .shopPage .filterDiv ul .slider:hover {
          -webkit-transform: none;
          -ms-transform: none;
          transform: none; }
      .shopPage .filterDiv ul .ruler {
        display: inline-block;
        font-weight: bold;
        font-size: 22px;
        padding-right: 10px; }
      .shopPage .filterDiv ul li {
        padding-left: 10px;
        font-size: 18px;
        cursor: pointer;
        padding-top: 5px;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s; }
        .shopPage .filterDiv ul li:first-letter {
          text-transform: uppercase; }

@media (max-width: 992px) {
  .shopPage {
    padding-top: 100px; } }

@media (max-width: 1250px) {
  .shopPage .products ul {
    text-align: center; } }

@media (max-width: 1440px) and (min-width: 480px) {
  .shopPage .products ul li {
    width: 265px; } }

@media (max-width: 992px) {
  .shopPage .filterDiv {
    width: 100%;
    margin-top: 30px; } }

.onamaDiv p {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px; }

.rzslider .rz-pointer {
  background: black !important; }

.rz-pointer:focus {
  outline: none !important; }

.rzslider .rz-pointer:after {
  background: white !important; }

.rzslider .rz-bubble {
  color: black !important; }
  .rzslider .rz-bubble.rz-limit {
    color: black !important; }

.rzslider .rz-selection {
  background: black !important; }

.rzslider .rz-bar {
  background: white !important; }

.separator {
  border-right: 1px solid black; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */ }

.noresult {
  margin-bottom: 50px;
  text-align: center; }

.searchDiv {
  width: 100%;
  height: 105vh;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  background: rgba(0, 0, 0, 0.93);
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .searchDiv form {
    width: 100%;
    text-align: center; }
    .searchDiv form button {
      background: none;
      -webkit-box-shadow: unset;
      box-shadow: unset;
      border: 0; }
  .searchDiv .searchInput {
    width: 50%;
    padding: 25px;
    background: transparent;
    font-size: 18px;
    color: white;
    border: 5px solid white;
    outline: none; }
    .searchDiv .searchInput::-webkit-input-placeholder {
      color: white; }
  .searchDiv .searchBtn i {
    color: white;
    font-size: 30px;
    color: white;
    margin-left: 18px; }
  .searchDiv .closeBtn {
    position: absolute;
    right: 50px;
    width: 32px;
    top: 50px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    font-size: 50px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

@media (max-width: 992px) {
  .searchDiv .searchInput {
    font-size: 12px;
    border: 4px solid white;
    padding: 15px; } }

@media (max-width: 992px) {
  .searchDiv .searchInput {
    width: 65%; }
  .closeBtn {
    top: 45px !important;
    width: 25px; } }

.owl-prev {
  float: left; }
  .owl-prev img {
    width: 50px; }

.owl-next {
  float: right; }
  .owl-next img {
    width: 50px; }

.emptyCartMsg {
  text-align: center;
  font-size: 18px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e8e8e8; }

.cartFinal {
  padding-top: 30px; }
  .cartFinal .cartHeader {
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    background: #f8f8f8; }
  .cartFinal h1 {
    background: #f8f8f8;
    padding: 15px; }
    .cartFinal h1:after {
      width: 0; }
  .cartFinal form {
    margin-top: 20px; }
    .cartFinal form input {
      border: 1px solid #2C4251;
      /*padding: 8px 15px 12px 15px;*/
      height: 42px;
      position: relative;
      top: 2px;
      text-align: center;
      outline: none !important; }
    .cartFinal form button {
      color: white;
      background: #2C4251;
      border: unset !important;
      height: 42px;
      width: 30px;
      top: 6px;
      font-size: 26px;
      outline: none !important;
      position: relative;
      left: 5px; }
      .cartFinal form button:last-child {
        left: -5px; }
  .cartFinal .cartTable th {
    text-align: center;
    font-size: 18px; }
  .cartFinal .cartTable td {
    position: relative; }
    .cartFinal .cartTable td p {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 80%;
      text-align: center;
      word-break: break-word;
      font-size: 17px;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .cartFinal .cartTable td:last-child p {
      cursor: pointer; }
      .cartFinal .cartTable td:last-child p img {
        width: 35px; }
  .cartFinal .cartTable .tableImage {
    width: 95px;
    height: 95px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important; }
  .cartFinal .sumOfCartDiv {
    float: right;
    width: 500px;
    position: relative; }
    .cartFinal .sumOfCartDiv h3 {
      position: absolute;
      right: 10px;
      font-weight: bold; }
    .cartFinal .sumOfCartDiv button {
      border: 3px solid #2C4251;
      padding: 10px 60px;
      background: white;
      outline: none;
      position: absolute;
      right: 0;
      font-size: 18px;
      top: 80px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      .cartFinal .sumOfCartDiv button:hover {
        background: #2C4251;
        color: white; }

@media (max-width: 992px) {
  .cartFinal {
    padding-top: 150px; } }

.finishForm {
  margin-top: 50px;
  margin-bottom: 70px; }
  .finishForm h2 {
    margin-bottom: 25px;
    margin-top: 100px;
    padding: 15px; }
  .finishForm .error input {
    border: 2px solid #f30f0c; }
  .finishForm .error p {
    color: #f30f0c;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bold; }
  .finishForm input {
    border: 1px solid black;
    outline: none;
    display: block;
    width: 100%;
    background: white;
    padding: 10px; }
  .finishForm .myBtn {
    padding: 10px;
    background: white;
    border: 1px solid #2C4251;
    outline: none; }
    .finishForm .myBtn:hover {
      background: #2C4251;
      color: white;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }

@media (max-width: 992px) {
  .finishForm h2 {
    font-size: 20px;
    font-weight: bold; } }

@media (max-width: 992px) {
  .cartFinal .cartTable td {
    white-space: unset !important;
    width: 100%;
    padding: 25px; }
    .cartFinal .cartTable td p {
      width: 100%;
      word-break: break-word; } }

.pocetna .akcijaDiv p {
  color: white !important;
  margin-top: 4px !important;
  margin-left: 46px !important;
  font-size: 14px !important; }

.kontakt h2 {
  margin-bottom: 30px; }

.kontakt .kontaktForm {
  margin-top: 50px;
  margin-bottom: 50px; }
  .kontakt .kontaktForm form {
    width: 100%; }
    .kontakt .kontaktForm form input, .kontakt .kontaktForm form textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #2C4251;
      outline: none;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
    .kontakt .kontaktForm form input:focus, .kontakt .kontaktForm form textarea:focus {
      padding-left: 15px; }
    .kontakt .kontaktForm form button {
      width: 100%;
      outline: none;
      padding: 10px;
      background: white;
      border: 1px solid #2C4251;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      .kontakt .kontaktForm form button:hover {
        background: #2C4251;
        color: white; }

.kontakt .osnovniPodaci {
  margin-top: 50px;
  margin-bottom: 50px; }
  .kontakt .osnovniPodaci ul {
    list-style: none; }
    .kontakt .osnovniPodaci ul li {
      padding-top: 20px;
      font-size: 17px; }
      .kontakt .osnovniPodaci ul li img {
        padding-right: 10px; }

@media (max-width: 992px) {
  .kontakt .osnovniPodaci ul {
    padding: 0; } }

#map {
  width: 100%;
  height: 400px; }

@media (max-width: 992px) {
  .separator {
    border-right: 0;
    margin-top: 75px;
    margin-bottom: 20px; } }

.selectedSize {
  background: black;
  color: white; }

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100vh; }

.errorClass {
  border: 3px solid red !important; }

.errorMsg {
  color: red;
  margin-top: 5px; }

.panModal {
  display: none; }

.reg-threesixty {
  height: 381px !important;
  cursor: ew-resize; }
  .reg-threesixty img {
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    top: -35px; }

@media (max-width: 992px) {
  .reg-threesixty {
    height: 480px !important; } }

@media (max-width: 620px) {
  .reg-threesixty {
    height: 255px !important; } }

@media (max-width: 992px) {
  .reg-threesixty img {
    top: 0; } }

.activeRoute {
  color: white; }
  .activeRoute:before {
    top: -5px !important; }

.activeMobile:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: white; }

.mobileFilters {
  display: none; }

@media (max-width: 992px) {
  .mobileFilters {
    display: block; }
  .desktopFilters {
    display: none; } }

.sortDiv p {
  display: inline-block; }
  .sortDiv p img {
    width: 24px;
    margin-right: 10px; }

.sortDiv select {
  display: inline-block;
  margin-left: 5px;
  border: 1px solid black;
  padding: 5px;
  outline: none; }
