@import "_external";

$primary-font: 'Roboto Condensed', sans-serif;

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: $primary-font;
}

.navigation {
  width: 100%;
  height: 100px;
  //overflow: hidden;
  background: white;
  position: relative;
  z-index: 5555;
  box-shadow: 0 0 10px #f1f1f1;
  @media (max-width: 992px) {
    position: fixed;
  }
  .logoDiv {
    margin-top: 2px;
    img {
      width: 95px;
    }
  }
  .burgerParent {
    float: right;
    width: 100px;
    position: relative;
    top: 25px;
    display: none;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    .cart {
      position: absolute;
      top: 5px;
      font-size: 25px;
    }
    @media (max-width: 992px) {
      display: block;
    }
    .burger {
      position: absolute;
      top: 14px;
      left: 45px;
      .burger1, .burger2, .burger3 {
        position: absolute;
        width: 30px;
        height: 3px;
        border-radius: 9px;
        background: $color1;
      }
      .burger2 {
        top: 8px;
      }
      .burger3 {
        top: 16px;
      }
    }
  }
  .links {
    @media (max-width: 992px) {
      display: none;
    }
    ul {
      list-style: none;
      position: relative;
      li {
        display: inline-block;
        padding: 40px;
        cursor: pointer;
        padding-right: 0;
        font-size: 18px;
        position: relative;
        &:hover {
          color: white;
          &:before {
            top: -5px;
          }
        }
        &:before {
          width: 100%;
          height: 100%;
          background: black;
          transition: .2s ease-in-out;
          z-index: -1;
          content: "";
          top: -110%;
          left: 21px;
          display: block;
          position: absolute;
        }
        &:last-child {
          i {
            font-size: 20px;
          }
        }
      }
    }
  }
  .cartCounter {
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    overflow: hidden;
    top: 30px;
    left: 50px;
    p {
      color: white;
      position: absolute;
      left: 6px;
      top: 0px;
      font-size: 15px;
    }
  }
  .cartPreview {
    width: 250px;
    height: auto;
    right: 0;
    background: white;
    box-shadow: 0 5px 10px lightgrey;
    position: absolute;
    top: -220px;
    opacity: 0;
    padding: 10px;
    display: none;
    border-top: 1px solid #efefef;
    div {
      position: relative;
      margin-top: 10px;
      .removeBtn {
        position: absolute;
        right: 0;
        top: -5px;
        z-index: 33;
        cursor: pointer;
      }
      .productImage {
        width: 70px;
        display: inline-block;
        height: 70px;
        overflow: hidden;
        background-size: cover !important;
        background-position: center !important;
      }
      p {
        display: inline-block;
        position: absolute;
        right: 10px;
        width: 140px;
        word-break: break-word;
        font-size: 17px;
        span {
          font-size: 18px;
          position: relative;
          top: 5px;
        }
      }
      &:last-child {
        hr {
          display: none;
        }
      }
    }
    .sum {
      text-align: center;
      font-size: 18px;
    }
    .nextStep {
      padding: 10px;
      background: $color1;
      border: unset;
      color: white;
      outline: none;
      width: 100%;
    }
  }
}

.mobileMenu {
  display: none;
  @media (max-width: 992px) {
    display: flex;
  }
  width: 100%;
  height: 100vh;
  z-index: 555;
  top: -100%;
  position: fixed;
  background: $color1;
  justify-content: center;
  align-items: center;
  ul {
    list-style: none;
    padding: 0;
    text-align: center;
    li {
      padding-top: 15px;
      color: white;
      font-size: 25px;
    }
  }
}

.header {
  width: 100%;
  height: 70vh;
  background: url('../img/header.jpeg');
  background-size: cover !important;
  background-position: center !important;
  .filter {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.33);
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
  }
}

.content {
  margin-top: 50px;
  margin-bottom: 30px;
  .contentTilt {
    margin-bottom: 30px;
    .tilt {
      width: 100%;
      height: 300px;
      background: linear-gradient(135deg, #2C4251 0%, black 100%);
      transform-style: preserve-3d;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        transform: translateZ(20px);
        box-shadow: 0 0 20px black;
        background: white;
        width: 200px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          text-align: center;
          color: #475c6a;
          font-size: 35px;
        }
      }
    }
  }
  .contentTxt {
    p {
      font-size: 18px;
      text-align: center;
    }
  }
}

.parallax {
  width: 100%;
  height: 400px;
  background: url('../img/parallax.jpg');
  background-size: cover !important;
  background-attachment: fixed;
  margin-bottom: 30px;
  padding: 80px 30px 80px 30px;
  @media (max-width: 992px) {
    height: auto;
    .path {
      padding: 20px;
      div {
        top: 0 !important;
        transform: unset !important;
      }
    }
  }
  .path {
    box-shadow: 0 0 10px #7d7d7d;
    width: 100%;
    height: 100%;
    background: white;
    text-align: center;
    div {
      top: 50%;
      transform: translate(0%, -50%);
    }
  }
}

.homeShop {
  margin-bottom: 50px;
  h1 {
    text-align: center;
    span {
      font-size: 15px;
      text-decoration: line-through;
    }
  }
  .productDiv {
    width: 100%;
    margin-top: 20px;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid black;
    //padding: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
    .akcijaDiv {
      width: 100%;
      height: 30px;
      background: #D30212;
      position: absolute;
      transform: rotate(45deg);
      left: 80px;
      p {
        color: white;
        margin-top: 3px;
        margin-left: 60px;
        font-size: 16px;
      }
    }
    h2 {
      height: auto;
      font-size: 28px;
      min-height: 66px;
    }
    .productBackground {
      width: 100%;
      height: 200px;
      background-size: cover !important;
      background-position: center !important;
    }
    button {
      padding: 10px;
      background: black;
      color: white;
      border: unset;
      outline: none;
      width: 100%;
      margin-top: 20px;
      transition: .2s;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.productDetails {
  padding-top: 50px;
  .images {
    width: 100px;
    cursor: pointer;
    height: 100px;
    background-size: cover !important;
    display: inline-block;
    overflow: hidden;
    background-position: center !important;
    margin: 5px;
    &:first-child {
      width: 100%;
      height: 300px;
      display: block;
      margin: auto;
      text-align: center;
      margin-bottom: 10px;
    }
    img {
      width: auto;
      height: 100%;
    }
  }
  .productMainImage {
    width: 100%;
    height: 300px;
    text-align: center;
    overflow: hidden;
    img {
      width: auto;
      height: 100%;
    }
  }
  .otherPhotos {
    width: 100px;
    display: inline-block;
    height: 100px;
    background-size: cover !important;
    background-position: center !important;
    margin-top: 10px;
    margin-right: 5px;
  }
  .productTxt {
    .dostupnost {
      color: #00c300;
    }
    p {
      font-size: 17px;
    }
    h1 {
      margin-top: 0;
      margin-bottom: 20px;
      text-transform: uppercase;
      &:after {
        content: "";
        display: block;
        height: 1px;
        margin-top: 10px;
        width: 100%;
        background: black;
      }
    }
  }
}

.price {
  span {
    font-size: 20px;
    text-decoration: line-through;
  }
}

.priceOtherInfo {
  .price {
    font-size: 45px;
    margin-top: 35px;
    span {
      font-size: 20px;
      text-decoration: line-through;
    }
  }
  .productQuantForm {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    button {
      background: $color1;
      padding: 8px 12px;
      border: unset;
      position: absolute;
      right: 0;
      top: 0;
      outline: none;
      &:first-child {
        left: 0;
      }
      span {
        color: white;
        font-size: 18px;
      }
    }
    input {
      width: inherit;
      outline: none;
      text-align: center;
      border: 1px solid $color1;
      padding: 10px;
    }
  }
  .addToCart {
    width: 100%;
    float: right;
    font-size: 18px;
    border: 1px solid $color1;
    z-index: 8888;
    position: relative;
    padding: 15px;
    color: $color1;
    background: white;
    outline: none;
    transition: .2s;
    @media (max-width: 992px) {
      margin-top: 10px;
      margin-bottom: 50px;
    }
    i {
      margin-left: 3px;
    }
    &:hover {
      background: $color1;
      color: white;
    }
  }
}

.opisDiv {
  text-align: center;
  h1 {
    &:after {
      width: 150px;
      height: 1px;
      background: black;
      content: "";
      display: block;
      margin: auto;
      margin-top: 10px;
    }
  }
  .duziOpisDiv {
    text-align: left;
    p {
      margin-bottom: 30px;
      margin-top: 30px;
      font-size: 18px;
    }
  }
}

.footer {
  width: 100%;
  padding: 25px;
  font-size: 17px;
  text-align: center;
  background: black;
  position: relative;
  z-index: 55;
  p {
    color: white;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.shopPage {
  .shopHeader {
    width: 100%;
    border-bottom: 1px solid black;
    overflow: auto;
    margin-bottom: 20px;
    i {
      margin-top: 30px;
      font-size: 25px;
      cursor: pointer;
      margin-right: 10px;
    }
  }
  .products {
    ul {
      list-style: none;
      padding: 0;
      @media (max-width: 1250px) {
        text-align: center;
      }
      li {
        display: inline-block;
        width: 290px;
        height: 350px;
        padding-right: 10px;
        margin-bottom: 70px;
        margin-top: 20px;
        @include transition(.2s);
        &:hover {
          transform: scale(1.02);
        }
        @media (max-width: 1440px) and (min-width: 480px) {
          width: 265px;
        }
      }
    }
  }
  .filterDiv {
    width: 400px;
    transition: .2s;
    label {
      font-weight: 100;
    }
    @media (max-width: 992px) {
      width: 100%;
      margin-top: 30px;
    }
    height: auto;
    //position: fixed;
    background: #f3f3f3;
    margin-bottom: 30px;
    h1 {
      margin-top: 0;
      color: white;
      background: black;
      width: 100%;
      padding: 15px;
    }
    ul {
      list-style: none;
      margin-top: -30px;
      padding: 10px;
      padding-bottom: 40px;
      .brandTitle {
        &:hover {
          transform: none;
        }
        h3 {
          img {
            width: 30px;
            margin-right: 10px;
          }
        }
      }
      .slider {
        width: 90%;
        margin-top: 35px;
        &:hover {
          transform: none;
        }
      }
      .ruler {
        display: inline-block;
        font-weight: bold;
        font-size: 22px;
        padding-right: 10px;
      }
      li {
        padding-left: 10px;
        font-size: 18px;
        cursor: pointer;
        padding-top: 5px;
        transition: .2s;
        &:first-letter {
          text-transform: uppercase;
        }
        &:hover {
          //transform: scale(1.05);
        }
      }
    }
  }
}

.onamaDiv {
  p {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.rzslider .rz-pointer {
  background: black !important;
}

.rz-pointer {
  &:focus {
    outline: none !important;
  }
}

.rzslider .rz-pointer {
  &:after {
    background: white !important;
  }
}

.rzslider .rz-bubble.rz-limit {
  color: black !important;
}

.rzslider .rz-bubble {
  color: black !important;
}

.rzslider .rz-selection {
  background: black !important;
}

.rzslider .rz-bar {
  background: white !important;
}

.separator {
  border-right: 1px solid black;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

.noresult {
  margin-bottom: 50px;
  text-align: center;
}

.searchDiv {
  width: 100%;
  height: 105vh;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  background: rgba(0, 0, 0, 0.93);
  position: fixed;
  z-index: 7777;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.searchDiv form {
  width: 100%;
  text-align: center;
}

.searchDiv form button {
  background: none;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  border: 0;
}

.searchDiv .searchInput {
  width: 50%;
  padding: 25px;
  background: transparent;
  font-size: 18px;
  color: white;
  border: 5px solid white;
  outline: none;
}

.searchDiv .searchInput::-webkit-input-placeholder {
  color: white;
}

.searchDiv .searchBtn i {
  color: white;
  font-size: 30px;
  color: white;
  margin-left: 18px;
}

.searchDiv .closeBtn {
  position: absolute;
  right: 50px;
  width: 32px;
  top: 50px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  font-size: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 992px) {
  .searchDiv .searchInput {
    width: 65%;
  }
  .closeBtn {
    top: 145px !important;
    width: 25px;
  }
}

.owl-prev {
  float: left;
  img {
    width: 50px;
  }
}

.owl-next {
  float: right;
  img {
    width: 50px;
  }
}

.emptyCartMsg {
  text-align: center;
  font-size: 18px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e8e8e8;
}

// Cart
.cartFinal {
  padding-top: 30px;
  .cartHeader {
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    background: #f8f8f8;
  }
  h1 {
    background: #f8f8f8;
    padding: 15px;
    &:after {
      width: 0;
    }
  }
  form {
    margin-top: 20px;
    input {
      border: 1px solid $color1;
      padding: 8px 15px 12px 15px;
      text-align: center;
      outline: none !important;
    }
    button {
      color: white;
      background: $color1;
      border: unset !important;
      height: 42px;
      width: 30px;
      top: 6px;
      font-size: 26px;
      outline: none !important;
      position: relative;
      left: 5px;
      &:last-child {
        left: -5px;
      }
    }
  }
  .cartTable {
    th {
      text-align: center;
      font-size: 18px;
    }
    td {
      position: relative;
      p {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 80%;
        text-align: center;
        word-break: break-all;
        font-size: 17px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      &:last-child p {
        cursor: pointer;
        img {
          width: 35px;
        }
      }
    }
    .tableImage {
      width: 95px;
      height: 95px;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: contain !important;
    }
  }
  .sumOfCartDiv {
    float: right;
    width: 500px;
    position: relative;
    h3 {
      position: absolute;
      right: 10px;
      font-weight: bold;
    }
    button {
      border: 3px solid $color1;
      padding: 10px 60px;
      background: white;
      outline: none;
      position: absolute;
      right: 0;
      font-size: 18px;
      top: 80px;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      &:hover {
        background: $color1;
        color: white;
      }
    }
  }
}

.finishForm {
  margin-top: 50px;
  margin-bottom: 70px;
  h2 {
    margin-bottom: 25px;
    margin-top: 60px;
    padding: 15px;
  }
  .error {
    input {
      border: 2px solid #f30f0c;
    }
    p {
      color: #f30f0c;
      margin-top: 5px;
      margin-left: 5px;
      font-weight: bold;
    }
  }
  input {
    border: 1px solid black;
    outline: none;
    display: block;
    width: 100%;
    background: white;
    padding: 10px;
  }
  .myBtn {
    padding: 10px;
    background: white;
    border: 1px solid $color1;
    outline: none;
    &:hover {
      background: $color1;
      color: white;
      -webkit-transition: 0.2s;
      transition: 0.2s;
    }
  }
}

@media (max-width: 992px) {
  .cartFinal .cartTable td {
    white-space: unset !important;
    width: 100%;
    padding: 25px;
    p {
      width: 100%;
      word-break: break-word;
    }
  }
}

.pocetna {
  .akcijaDiv {
    p {
      color: white !important;
      margin-top: 4px !important;
      margin-left: 46px !important;
      font-size: 14px !important;
    }
  }
}

.kontakt {
  h2 {
    margin-bottom: 30px;
  }
  .kontaktForm {
    margin-top: 50px;
    margin-bottom: 50px;
    form {
      width: 100%;
      input, textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid $color1;
        outline: none;
        transition: .2s;
        &:focus {
          padding-left: 15px;
        }
      }
      button {
        width: 100%;
        padding: 10px;
        background: white;
        border: 1px solid $color1;
        @include transition(.2s);
        &:hover {
          background: $color1;
          color: white;
        }
      }
    }
  }
  .osnovniPodaci {
    margin-top: 50px;
    margin-bottom: 50px;
    ul {
      list-style: none;
      @media (max-width: 992px) {
        padding: 0;
      }
      li {
        padding-top: 20px;
        font-size: 17px;
        img {
          padding-right: 10px;
        }
      }
    }
  }
}
#map {
  width: 100%;
  height: 400px;
}
@media (max-width: 992px) {
  .separator {
    border-right: 0;
    margin-top: 75px;
    margin-bottom: 20px;
  }
}