
<div class="footer" ng-controller="footerController">
  <p>Developed by <a href="http://www.patrol-group.com/" target="_blank">Patrol Group</a></p>
  <p>All rights reserved | {{year | date:"yyyy"}} &copy;</p>
</div>