<div class="navigation noselect" ng-controller="headerController">
  <div class="container">
    <div class="logoDiv pull-left" ui-sref="home" style="cursor: pointer;">
      <img src="img/grosis.png" alt="">
    </div>
    <div class="links pull-right">
      <ul>
        <li ui-sref="home" ui-sref-active="activeRoute">Početna</li>
        <li ui-sref="o-nama" ui-sref-active="activeRoute">O Nama</li>
        <li ui-sref="shop" ui-sref-active="activeRoute">Shop</li>
        <li ui-sref="kontakt" ui-sref-active="activeRoute">Kontakt</li>
        <li ng-if="!hideCart" ng-click="showCart()">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <div ng-if="cartLength != ''" class="cartCounter">
            <p>{{cartLength}}</p>
          </div>
        </li>
        <div class="cartPreview">
          <p class="emptyCartMsg" ng-if="cart == ''">Prazna korpa</p>
          <div ng-repeat="c in cart">
            <i class="fa fa-trash removeBtn" ng-click="removeItem($index)" aria-hidden="true"></i>
            <div ng-if="c.slika != undefined" class="productImage" style="background: url('uploads/proizvodi/{{c.slika}}')"></div>
            <div ng-if="c.slika == undefined" class="productImage" style="background: url('img/nophoto.png')"></div>
            <p>
              {{c.naziv}} ({{c.kolicina}})
              <br>
              <span>{{ c.cena * c.kolicina | currency:"":0 }} RSD</span>
            </p>
            <hr>
          </div>
          <p class="sum">Ukupno: {{sum | currency:"":0}} RSD</p>
          <button ui-sref="cart-preview" ng-if="cart != ''" class="nextStep">Nastavi dalje</button>
        </div>
      </ul>
    </div>
    <div class="burgerParent">
      <div class="cart" ng-click="viewCart()">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <div  style="top: -5px;left: 15px;" ng-if="cartLength != ''" class="cartCounter">
          <p>{{cartLength}}</p>
        </div>
      </div>
      <div class="burger" ng-click="burger()">
        <div class="burger1"></div>
        <div class="burger2"></div>
        <div class="burger3"></div>
      </div>
    </div>
  </div>
</div>
<div class="mobileMenu">
  <ul>
    <li ui-sref="home" ui-sref-active="activeMobile">Početna</li>
    <li ui-sref="o-nama" ui-sref-active="activeMobile">O Nama</li>
    <li ui-sref="shop" ui-sref-active="activeMobile">Shop</li>
    <li ui-sref="kontakt" ui-sref-active="activeMobile">Kontakt</li>
  </ul>
</div>