<div ng-include="'view/partials/header.html'"></div>
<div class="loading" ng-if="!loading">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
</div>

<div class="container productDetails" style="margin-bottom: 70px; margin-top: 50px;" ng-if="loading">
    <div class="col-md-6 separator">
        <div class="images" ng-repeat="s in slike" data-fancybox="gallery" href="uploads/proizvodi/{{s.slika}}">
            <img ng-if="s.slika != null" src="uploads/proizvodi/{{s.slika}}">
            <img ng-if="s.slika == null" src="img/nophoto.png">
        </div>
    </div>
    <div class="col-md-6 productTxt">
        <h1>{{proizvod.proizvod.naziv}}</h1>
        <p>Proizvođač: {{proizvod.brend.naziv_brenda}}</p>
        <p>
            <span class="dostupnost" ng-if="proizvod.proizvod.dostupnost == '1'"><img src="img/icons/available.png">Na stanju</span>
            <span class="dostupnost" ng-if="proizvod.proizvod.dostupnost == '0'" style="color: red"><img
                    src="img/icons/navailable.png">Nije na stanju</span>
        </p>
        <p>Šifra proizvoda: {{proizvod.proizvod.sifra}}</p>
        <hr>
        <p>
            {{proizvod.proizvod.kratak_opis}}
        </p>
        <div class="sizes noselect" ng-if="proizvod.proizvod.dostupnost != '0'">
          <select ng-model="izabraneVelicine.broj" ng-change="addSize()" ng-class="{'errorClass' : error}">
            <option value="">-- Izaberite veličinu cipele --</option>
            <option value="{{v.broj}}" ng-repeat="v in proizvod.velicine" >{{v.broj}}</option>
          </select>
          <p ng-if="error" class="errorMsg">{{msg}}</p>
        </div>
    </div>
    <div class="col-md-12 priceOtherInfo">
        <hr>
        <div class="col-md-6">
            <h3 class="price">{{proizvod.proizvod.cena * quant | currency: "":0}} RSD
                <span style="color: #666666" ng-if="proizvod.proizvod.stara_cena != 0">
    / {{proizvod.proizvod.stara_cena  | currency: "":0}} RSD
  </span>
            </h3>
        </div>
        <div class="col-md-6" ng-if="proizvod.proizvod.dostupnost != '0'">
            <form class="productQuantForm">
                <button ng-click="decrement()">
                    <span>-</span>
                </button>
                <input type="number" readonly class="quantInput" min="1" ng-model="quant" placeholder="Kolicina">
                <button style="right: 0" ng-click="increment()">
                    <span>+</span>
                </button>
            </form>
            <button class="addToCart"
                    ng-click="addToCart(proizvod.proizvod.naziv, slike[0].slika, proizvod.proizvod.cena, proizvod.proizvod.sifra)">
                Dodaj u korpu
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </button>
        </div>
    </div>
  <!--   <div class="col-md-12">
        <hr>
        <div ng-if="imageList != ''" class="opisDiv">
            <h1><img src="img/icons/360-degrees.png" ng-click="viewPan()" alt=""></h1>
            <div class="duziOpisDiv">
                <threesixty images="imageList" animate-after-loading="true" speed-multiplier="1" />
            </div>
        </div>
    </div> -->
    <div class="col-md-12" ng-if="proizvod.proizvod.duzi_opis != ''">
        <hr>
        <div class="opisDiv">
            <h1>Opis proizvoda</h1>
            <div class="duziOpisDiv" ng-bind-html="proizvod.proizvod.duzi_opis">
                {{proizvod.proizvod.duzi_opis}}
            </div>
        </div>
    </div>
    <!--<div class="col-md-12">-->
        <!--<img ng-if="imageList != ''" src="img/icons/360-degrees.png" ng-click="viewPan()" alt="">-->
        <!--<threesixty images="imageList" animate-after-loading="true" speed-multiplier="1" />-->
    <!--</div>-->
</div>

<!-- <div ng-include="'view/partials/footer.html'"></div> -->