<div ng-include="'view/partials/header.html'"></div>
<div class="loading" ng-if="!loading">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
</div>
<div ng-if="loading">
    <div class="searchDiv">
        <img class="closeBtn" src="img/icons/cancel.png">
        <form ng-submit="searchForm()">
            <input type="text" class="searchInput" placeholder="Pretraga (Naziv proizvoda ili sifra)"
                   ng-model="search.txt">
            <button class="searchBtn">
                <i type="submit" class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <div class="container-fluid homeShop shopPage">
            <div class="col-md-4 mobileFilters">
            <div class="filterDiv">
                <h1>Filteri</h1>
                <form>
                    <ul class="noselect">
                        <li class="brandTitle">
                            <h3><img src="img/icons/kat.png" alt="">Kategorija</h3>
                        </li>
                        <li ng-repeat="k in kategorije">
                            <label>
                                <input type="checkbox" ng-change="filter()" ng-true-value="'{{k.kat_id}}'"
                                       ng-model="filterProduct.kategorije[$index]"> {{k.naziv_kategorije}}
                            </label>
                        </li>
                        <li class="brandTitle">
                            <h3><img src="img/icons/genders.png" alt="">M/Z</h3>
                        </li>
                        <li ng-repeat="p in mz">
                            <label>
                                <input type="checkbox" ng-change="filter()" ng-true-value="'{{p.value}}'"
                                       ng-model="filterProduct.mz[$index]"> {{p.naziv}} cipele
                            </label>
                        </li>
                        <li class="brandTitle">
                            <h3><img style="width: 40px;" src="img/icons/brand.png" alt="">Brend</h3>
                        </li>
                        <li ng-repeat="brend in brendovi">
                            <label>
                                <input type="checkbox" ng-change="filter()" ng-true-value="'{{brend.brend_id}}'"
                                       ng-model="filterProduct.brendovi[$index]"> {{brend.naziv_brenda}}
                            </label>
                        </li>
                        <!--  <li class="brandTitle">
            <h3><img src="img/icons/ruler.png" alt="">Veličine</h3>
          </li>
          <li ng-repeat="v in velicine" style="display: inline-block">
            <label>
              <input type="checkbox" ng-change="filter()" ng-true-value="'{{v.velicina_id}}'"
                     ng-model="filterProduct.velicine[$index]">
              {{v.broj}}
            </label>
          </li> -->
                        <li class="brandTitle">
                            <h3><img src="img/icons/promotions.png" alt="">Promocija</h3>
                        </li>
                        <li ng-repeat="p in promocije">
                            <label>
                                <input type="checkbox" ng-change="filter()" ng-true-value="'{{p.promocija_id}}'"
                                       ng-model="filterProduct.promocije[$index]"> {{p.vrsta_promocije}}
                            </label>
                        </li>
                        <li class="brandTitle">
                            <h3><img src="img/icons/color.png" alt="">Cena (RSD)</h3>
                        </li>
                        <li class="slider">
                            <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max"
                                      rz-slider-options="slider.options"></rzslider>
                        </li>
                        <li style="margin-top: 30px;" ng-click="reload()"><i class="fa fa-refresh"
                                                                             aria-hidden="true"></i> Poništi filtere
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="col-md-8 products">
            <div class="shopHeader" ng-click="showSearch()">
                <h1 class="title pull-left">Proizvodi</h1>
                <i class="fa fa-search pull-right" aria-hidden="true"></i>
            </div>
            <div class="sortDiv">
                <p><img src="img/icons/sort.png" alt="">Sortiraj</p>
                <select name="" id="" ng-model="sort.type" ng-change="filter()">
                    <option value="">---------</option>
                    <option ng-repeat="s in sort" value="{{s.type}}">{{s.text}}</option>
                </select>
            </div>
            <ul>
                <h1 class="noresult" ng-if="empty">Nema pronadjenih proizvoda</h1>
                <li ng-repeat="p in proizvodi" ng-if="!empty">
                    <div class="productDiv">
                        <div class="akcijaDiv" ng-if="p.fk_promocija_id != '0'">
                            <p ng-if="p.fk_promocija_id == '2'">Akcija</p>
                            <p ng-if="p.fk_promocija_id == '3'">Super Akcija</p>
                            <p ng-if="p.fk_promocija_id == '5'">Mega Akcija</p>
                        </div>
                        <div ui-sref="product-preview ({id: p.proizvod_id})" ng-if="p.naslovna_slika.slika != null"
                             class="productBackground"
                             style="background: url('uploads/proizvodi/{{p.naslovna_slika.slika}}'); cursor: pointer">
                                 <div class="filter"></div>
                             </div>
                        <div ui-sref="product-preview ({id: p.proizvod_id})" ng-if="p.naslovna_slika.slika == null"
                             class="productBackground"
                             style="background: url('img/nophoto.png'); cursor: pointer"></div>
                        <h2>{{p.naziv}}</h2>
                        <h3 class="price">{{p.cena | currency: "":0}} RSD <span style="color: #666666"
                                                                                ng-if="p.stara_cena != 0">/ {{p.stara_cena | currency: "":0}} RSD</span>
                        </h3>
                        <button ui-sref="product-preview ({id: p.proizvod_id})">Opširnije</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4 desktopFilters">
            <div class="filterDiv">
                <h1>Filteri</h1>
                <form>
                    <ul class="noselect">
                        <li class="brandTitle">
                            <h3><img src="img/icons/kat.png" alt="">Kategorija</h3>
                        </li>
                        <li ng-repeat="k in kategorije">
                            <label>
                                <input type="checkbox" ng-change="filter()" ng-true-value="'{{k.kat_id}}'"
                                       ng-model="filterProduct.kategorije[$index]"> {{k.naziv_kategorije}}
                            </label>
                        </li>
                        <li class="brandTitle">
                            <h3><img src="img/icons/genders.png" alt="">M/Z</h3>
                        </li>
                        <li ng-repeat="p in mz">
                            <label>
                                <input type="checkbox" ng-change="filter()" ng-true-value="'{{p.value}}'"
                                       ng-model="filterProduct.mz[$index]"> {{p.naziv}} cipele
                            </label>
                        </li>
                        <li class="brandTitle">
                            <h3><img style="width: 40px;" src="img/icons/brand.png" alt="">Brend</h3>
                        </li>
                        <li ng-repeat="brend in brendovi">
                            <label>
                                <input type="checkbox" ng-change="filter()" ng-true-value="'{{brend.brend_id}}'"
                                       ng-model="filterProduct.brendovi[$index]"> {{brend.naziv_brenda}}
                            </label>
                        </li>
                        <!--  <li class="brandTitle">
            <h3><img src="img/icons/ruler.png" alt="">Veličine</h3>
          </li>
          <li ng-repeat="v in velicine" style="display: inline-block">
            <label>
              <input type="checkbox" ng-change="filter()" ng-true-value="'{{v.velicina_id}}'"
                     ng-model="filterProduct.velicine[$index]">
              {{v.broj}}
            </label>
          </li> -->
                        <li class="brandTitle">
                            <h3><img src="img/icons/promotions.png" alt="">Promocija</h3>
                        </li>
                        <li ng-repeat="p in promocije">
                            <label>
                                <input type="checkbox" ng-change="filter()" ng-true-value="'{{p.promocija_id}}'"
                                       ng-model="filterProduct.promocije[$index]"> {{p.vrsta_promocije}}
                            </label>
                        </li>
                        <li class="brandTitle">
                            <h3><img src="img/icons/color.png" alt="">Cena (RSD)</h3>
                        </li>
                        <li class="slider">
                            <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max"
                                      rz-slider-options="slider.options"></rzslider>
                        </li>
                        <li style="margin-top: 30px;" ng-click="reload()"><i class="fa fa-refresh"
                                                                             aria-hidden="true"></i> Poništi filtere
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
<div ng-include="'view/partials/footer.html'"></div>