.logoDiv {
  position: relative; }
  .logoDiv h1 {
    position: absolute;
    top: 8px;
    left: 135px; }

.links ul li:last-child i {
  padding-left: 10px;
  position: relative;
  top: 1px; }

.loginDiv {
  text-align: center;
  padding-top: 100px; }
  .loginDiv form {
    margin-top: 50px; }
    .loginDiv form input {
      width: 250px;
      padding: 10px;
      border: 2px solid black;
      outline: none; }
    .loginDiv form button {
      border: 2px solid black;
      background: white;
      padding: 5px 10px 5px 10px;
      outline: none;
      transition: .2s; }
      .loginDiv form button:hover {
        background: black;
        color: white; }

.dodajAtributDiv .col-md-4 {
  height: auto;
  min-height: 500px; }

.dodajAtributDiv h1:after {
  content: "";
  display: block;
  background: black;
  width: 100%;
  height: 1px;
  margin: auto;
  margin-top: 10px; }

.dodajAtributDiv form {
  margin-top: 50px;
  margin-bottom: 20px;
  overflow: auto; }
  .dodajAtributDiv form input, .dodajAtributDiv form textarea {
    border: 2px solid black;
    width: 100%;
    padding: 10px;
    outline: none; }
  .dodajAtributDiv form textarea {
    resize: none; }
  .dodajAtributDiv form label {
    font-size: 17px; }
    .dodajAtributDiv form label input {
      margin-right: 5px; }
  .dodajAtributDiv form select {
    padding: 10px;
    border: 2px solid black;
    width: 100%;
    outline: none; }
  .dodajAtributDiv form .dodajBtn {
    width: 100px;
    background: white;
    padding: 5px;
    border: 2px solid black;
    transition: .2s;
    outline: none; }
    .dodajAtributDiv form .dodajBtn:hover {
      background: black;
      color: white; }
  .dodajAtributDiv form .nextStepBtn {
    padding: 10px 15px 10px 15px;
    border: 2px solid black;
    transition: .2s;
    text-align: center;
    cursor: pointer; }
    .dodajAtributDiv form .nextStepBtn:hover {
      background: black;
      color: white; }
  .dodajAtributDiv form .dodajProizvodBtn {
    width: 100%;
    padding: 10px 15px 10px 15px;
    background: white;
    margin-top: 15px;
    border: 2px solid black;
    transition: .2s; }
    .dodajAtributDiv form .dodajProizvodBtn:hover {
      background: black;
      color: white; }
  .dodajAtributDiv form .cancelBtn {
    text-decoration: none;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    display: block;
    text-align: center;
    border: 2px solid black;
    color: black;
    cursor: pointer; }
  .dodajAtributDiv form .step2 .imagePreview {
    width: 200px;
    margin: 10px;
    display: inline-block;
    height: 200px;
    background-size: cover !important;
    background-position: center !important; }
  .dodajAtributDiv form table {
    margin-top: 20px; }
    .dodajAtributDiv form table th {
      text-align: center; }
    .dodajAtributDiv form table td {
      text-align: center; }
      .dodajAtributDiv form table td:first-child {
        padding-top: 12px;
        font-size: 18px;
        width: 50%;
        word-break: break-all; }

.editImages .panPreviewDiv p {
  font-size: 16px; }
  .editImages .panPreviewDiv p span {
    font-size: 18px;
    font-weight: bold; }

.editImages .imagePreviewDiv {
  position: relative;
  display: inline-block; }
  .editImages .imagePreviewDiv i {
    right: 0;
    top: 0;
    color: red;
    cursor: pointer;
    position: absolute;
    font-size: 25px; }

.panList {
  list-style: none; }
  .panList li {
    display: inline-block;
    margin: 5px; }
    .panList li img {
      width: 50px; }

.allProducts .table {
  margin-top: 30px;
  margin-bottom: 100px; }
  .allProducts .table td {
    font-size: 18px; }

.separator {
  border-right: 1px solid black; }

.topSeparator {
  border-top: 1px solid black; }

.cke_chrome {
  border: 2px solid black !important; }

.imagePreview {
  width: 200px;
  margin: 10px;
  display: inline-block;
  height: 200px;
  background-size: cover !important;
  background-position: center !important; }

.fileContainer {
  overflow: hidden;
  position: relative;
  border: 2px solid black;
  font-size: 18px;
  padding: 10px 30px;
  cursor: pointer;
  letter-spacing: 1px;
  width: 100%;
  height: 50px; }

.addImageDiv {
  overflow: hidden;
  position: relative;
  border: 2px solid black;
  font-size: 18px;
  margin-top: 20px;
  top: -5px;
  cursor: pointer;
  letter-spacing: 1px;
  width: 200px;
  height: 200px; }
  .addImageDiv i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 55px;
    transform: translate(-50%, -50%); }

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0; }

.addImageDiv [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0; }

@media (max-width: 620px) {
  .myInput {
    width: 80%; }
  .fileContainer, .addImageDiv {
    width: 80%; } }

.searchProducts {
  border: 1px solid black;
  padding: 10px;
  outline: none;
  width: 100%;
  background: white; }

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 55;
  top: 0;
  display: none;
  left: 0;
  background: rgba(0, 0, 0, 0.67);
  justify-content: center;
  align-items: center; }
  .loader i {
    color: white; }

.sizeChart {
  margin-top: 20px;
  margin-bottom: 20px; }
  .sizeChart h4 {
    margin-bottom: 20px; }
  .sizeChart p {
    padding: 5px 10px;
    border: 1px solid black;
    background: white;
    display: inline-block;
    margin: 5px;
    position: relative; }
  .sizeChart i {
    position: absolute;
    top: -10px;
    color: red;
    font-size: 18px;
    cursor: pointer;
    right: -5px; }

.kratakOpis {
  resize: vertical !important;
  height: 100px; }

.editSlikeTitle {
  display: block;
  margin-left: 10px; }
  .editSlikeTitle img {
    width: 42px; }
  .editSlikeTitle p {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px; }
