<div class="navigation" ng-controller="adminController">
  <div class="container">
    <div ui-sref="home" class="logoDiv pull-left">
      <img src="img/grosis.png" alt="">
      <h1>Admin</h1>
    </div>
    <div class="links pull-right">
      <ul>
        <li ui-sref="dodaj-proizvod">Proizvodi</li>
        <li ui-sref="dodaj-atribute">Atributi</li>
        <li ng-click="logout()">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></li>
      </ul>
    </div>
  </div>
</div>
