<div ng-include="'view/admin/partials/header.html'"></div>
<div class="container dodajAtributDiv">
    <h1>Atributi</h1>
    <div class="col-md-4 separator">
        <form ng-submit="dodajBrend()">
            <h3 style="margin-top: 0">Brendovi</h3>
            <div class="form-group">
                <input type="text" placeholder="Dodaj brend" ng-model="brend.naziv">
            </div>
            <button class="dodajBtn" type="submit">
                <span ng-if="brandPost">Dodaj</span>
                <span ng-if="!brandPost">Ažuriraj</span>
            </button>
            <button class="dodajBtn" ng-if="!brandPost" ng-click="reload()">Otkaži</button>
            <div style="overflow-x: auto ">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Brend</th>
                            <th>Brisanje / Editovanje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="b in brendovi" q>
                            <td>{{b.naziv_brenda}}</td>
                            <td>
                                <a class="btn btn-danger" ng-click="deleteBrand(b.brend_id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
                                <a class="btn btn-primary" ng-click="editBrand(b.brend_id)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="col-md-4 separator">
        <form ng-submit="dodajKategoriju()">
            <h3 style="margin-top: 0">Kategorije</h3>
            <div class="form-group">
                <input type="text" placeholder="Dodaj kategoriju" ng-model="kategorija.naziv">
            </div>
            <button class="dodajBtn" type="submit">
                <span ng-if="katPost">Dodaj</span>
                <span ng-if="!katPost">Ažuriraj</span>
            </button>
            <button class="dodajBtn" ng-if="!katPost" ng-click="reload()">Otkaži</button>
            <div style="overflow-x: auto ">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Kategorija</th>
                            <th>Brisanje / Editovanje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="k in kategorije">
                            <td>{{k.naziv_kategorije}}</td>
                            <td>
                                <a class="btn btn-danger" ng-click="deleteKat(k.kat_id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
                                <a class="btn btn-primary" ng-click="editKat(k.kat_id)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form ng-submit="dodajPromociju()">
            <h3 style="margin-top: 0">Promocije</h3>
            <div class="form-group">
                <input type="text" placeholder="Dodaj promociju" ng-model="promocija.naziv">
            </div>
            <button class="dodajBtn" type="submit">
                <span ng-if="proPost">Dodaj</span>
                <span ng-if="!proPost">Ažuriraj</span>
            </button>
            <button class="dodajBtn" ng-if="!proPost" ng-click="reload()">Otkaži</button>
            <div style="overflow-x: auto ">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Vrsta promocije</th>
                            <th>Brisanje / Editovanje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in promocije">
                            <td>{{p.vrsta_promocije}}</td>
                            <td>
                                <a class="btn btn-danger" ng-click="deletePro(p.promocija_id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
                                <a class="btn btn-primary" ng-click="editPro(p.promocija_id)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="col-md-12" style="border-top: 1px solid black">
        <div class="col-md-4">
            <form ng-submit="dodajVelicinu()">
                <h3 style="margin-top: 0">Velicine</h3>
                <div class="form-group">
                    <input type="text" placeholder="Dodaj velicinu" ng-model="velicina.broj">
                </div>
                <button class="dodajBtn" type="submit">
                    <span ng-if="velPost">Dodaj</span>
                    <span ng-if="!velPost">Ažuriraj</span>
                </button>
                <button class="dodajBtn" ng-if="!velPost" ng-click="reload()">Otkaži</button>
                <div style="overflow-x: auto ">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Velicina cipele</th>
                                <th>Brisanje / Editovanje</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="v in velicine">
                                <td>{{v.broj}}</td>
                                <td>
                                    <a class="btn btn-danger" ng-click="deleteVel(v.velicina_id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
                                    <a class="btn btn-primary" ng-click="editVel(v.velicina_id)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>