<div ng-include="'view/admin/partials/header.html'"></div>
<div class="loader">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
</div>
<div class="container dodajAtributDiv">
    <h1>Proizvodi</h1>
    <form ng-submit="dodajProizvod(proizvodForm.$valid)" name="proizvodForm">
        <div class="step1" ng-if="!images">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Naziv</label>
                    <input type="text" placeholder="Naziv" ng-model="proizvod.naziv">
                </div>
                <div class="form-group">
                    <label>Kategorija</label>
                    <select class="selectForm" ng-model="proizvod.kategorija">
                        <option value="">-- Izaberi kategoriju --</option>
                        <option ng-repeat="k in kategorije" value="{{k.kat_id}}">{{k.naziv_kategorije}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Brend</label>
                    <select class="selectForm" ng-model="proizvod.brend">
                        <option value="">-- Izaberi brend --</option>
                        <option ng-repeat="b in brendovi" value="{{b.brend_id}}">{{b.naziv_brenda}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Šifra proizvoda</label>
                    <input type="text" ng-model="proizvod.sifra" placeholder="Šifra">
                </div>
                <div class="form-group">
                    <label>Cena</label>
                    <input type="text" placeholder="Cena" ng-model="proizvod.cena">
                </div>
                <div class="form-group">
                    <label>Stara cena</label>
                    <input type="text" placeholder="Stara cena (nije obavezno)" ng-model="proizvod.stara_cena">
                </div>
                <div class="form-group">
                    <label>
                        <input style="width: 13px;" type="checkbox" ng-model="proizvod.dostupno">
                        Dostupno
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input style="width: 13px;" type="checkbox" ng-model="proizvod.home_strana">
                        Početna strana
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input style="width: 13px;" type="checkbox" ng-model="proizvod.shop_strana">
                        Shop strana
                    </label>
                </div>
                <div class="form-group">
                    <label ng-repeat="v in velicine">
                        <input type="checkbox" ng-true-value="'{{v.velicina_id}}'"
                               ng-model="proizvod.velicine[$index]">
                        {{v.broj}}
                    </label>
                    <div class="sizeChart" ng-if="pickedSizes[0] != null">
                        <hr>
                        <h4>Postojeće veličine cipele</h4>
                        <p style="font-weight: bold" ng-repeat="s in pickedSizes track by $index">
                            {{s.broj}}
                            <i class="fa fa-times-circle" aria-hidden="true"
                               ng-click="removeSize($index, s.fk_proizvod_id, s.fk_velicina_id)"></i>
                        </p>
                        <hr>
                    </div>
                </div>
                <div class="form-group">
                    <label>Muska / Zenska cipela</label>
                    <select ng-model="proizvod.mz">
                        <option value=""> -- Muska / Zenska --</option>
                        <option value="{{m.value}}" ng-repeat="m in mzc">{{m.value}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Vrsta Promocije (nije obavezno)</label>
                    <select ng-model="proizvod.promocija">
                        <option value=""> -- Izaberi vrstu promocije --</option>
                        <option ng-repeat="p in promocije" value="{{p.promocija_id}}">{{p.vrsta_promocije}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Kratak opis</label>
                    <textarea type="text" rows="3" placeholder="Kratak opis" class="kratakOpis"
                              ng-model="proizvod.kratak_opis"/>
                </div>
                <div class="form-group">
                    <label>Duzi opis</label>
                    <div ckeditor="options" ng-model="proizvod.duzi_opis" ready="onReady()"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12 step2" ng-if="images">
            <label class="fileContainer">
                Slike proizvoda <i style="margin-left: 5px;" class="fa fa-picture-o" aria-hidden="true"></i>
                <input type="file" maxsize="5000" ng-model="productImages.image" name="slikeD" multiple base-sixty-four-input/>
            </label>
            <div ng-repeat="i in imagePreview" class="imagePreview"
                 style="background: url('data:image/jpeg;base64,{{i.base64}}')"></div>
             <h3 style="color:red;font-weight: bold" ng-show="proizvodForm.slikeD.$error.maxsize">Veličina slika ne sme biti veća od 5mb</h3>
        </div>
        <!--<div class="col-md-12 step2" ng-if="images">-->
            <!--<label class="fileContainer">-->
                <!--360 Slike proizvoda <i style="margin-left: 5px;" class="fa fa-picture-o" aria-hidden="true"></i>-->
                <!--<input type="file" ng-model="panoramaImages.image" multiple base-sixty-four-input/>-->
            <!--</label>-->
            <!--<div ng-repeat="pan in panImagePrev" class="imagePreview"-->
                 <!--style="background: url('data:image/jpeg;base64,{{pan.base64}}')"></div>-->
        <!--</div>-->
        <div class="col-md-12">
            <p ng-if="!images && !editStatus" class="nextStepBtn" ng-click="nextStep()">
                Sledeći korak
                <i class="fa fa-arrow-right" aria-hidden="true" style="margin-left: 5px"></i>
            </p>
            <button ng-if="images" type="submit" class="dodajProizvodBtn">Dodaj proizvod</button>
        </div>

        <!--Editovanje-->
        <div ng-if="editStatus" class="col-md-12 editImages">
            <!-- Editovanje slika -->

            <div class="editSlikeTitle">
                <img src="img/icons/picture.png" alt="">
                <p style="">Slike proizvoda</p>
            </div>
            <div class="imagePreviewDiv" ng-repeat="s in slike" ng-if="!noImages">
                <i class="fa fa-times-circle" aria-hidden="true"
                   ng-click="removeImage($index, s.slika_id, s.slika)"></i>
                <div class="imagePreview"
                     style="background: url('uploads/proizvodi/{{s.slika}}')"></div>
            </div>

            <div class="imagePreviewDiv" ng-repeat="i in imagePreview">
                <div class="imagePreview"
                     style="background: url('data:image/jpeg;base64,{{i.base64}}')"></div>
            </div>
            <label class="addImageDiv">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <input maxsize="5000" ng-model="productImages.image" name="slike" type="file" multiple base-sixty-four-input/>
            </label>
            <h3 style="color:red;font-weight: bold" ng-show="proizvodForm.slike.$error.maxsize">Veličina slika ne sme biti veća od 5mb</h3>

            <!--<div class="editSlikeTitle">-->
                <!--<img src="img/icons/360-degrees.png" alt="">-->
                <!--<p style="">360° slike</p>-->
            <!--</div>-->
            <!--<div class="imagePreviewDiv panPreviewDiv" ng-if="!noPanImages && !panRemoveImages">-->
                <!--<p style="margin-top: 30px;">Trenutno ovaj proizvod ima <span>{{panSlikeLength}} slika</span> koje kreiraju efekat slike od 360°.-->
                    <!--Potrebno je obrisati sve slike klikom na ikonicu kantice ispod ukoliko zelite dodati nove-->
                    <!--slike-->
                <!--</p>-->
                <!--<ul class="panList">-->
                    <!--<li ng-repeat="p in panSlike">-->
                        <!--<img ng-src="uploads/proizvodi/360/{{p.slika}}" alt="">-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<div style="text-align: center;margin-bottom: 30px;">-->
                    <!--<img src="img/icons/garbage.png" alt="" style="cursor: pointer" ng-click="removePanImages()">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div ng-if="noPanImages || panRemoveImages" style="margin-top: 20px;">-->
                <!--<div class="imagePreviewDiv" ng-repeat="i in panImagePrev">-->
                    <!--<div class="imagePreview"-->
                         <!--style="background: url('data:image/jpeg;base64,{{i.base64}}')"></div>-->
                <!--</div>-->
                <!--<label class="addImageDiv">-->
                    <!--<i class="fa fa-plus-circle" aria-hidden="true"></i>-->
                    <!--<input ng-model="panoramaImages.image" type="file" multiple base-sixty-four-input/>-->
                <!--</label>-->
            <!--</div>-->

            <!-- /////////////////////////////////////////////////// -->
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" style="background: lightblue" class="dodajProizvodBtn">Ažuriraj proizvod
                    </button>
                </div>
                <div class="col-md-6">
                    <a type="submit" class="cancelBtn" ng-click="reload()">
                        Odustani
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
<hr>
<div class="container allProducts" ng-if="!images && !editStatus">
    <div class="col-md-12">
        <input class="searchProducts" placeholder="Pretraži proizvode" type="text" class="form-control"
               ng-model="search">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Redni broj</th>
                <th>Slika</th>
                <th>Naziv proizvoda</th>
                <th>Šifra proizvoda</th>
                <th>Početna strana</th>
                <th>Shop strana</th>
                <th>Brisanje / Editovanje</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in proizvodi | filter: search:strict">
                <td>{{$index + 1}}.</td>
                <td>
                    <img ng-if="p.naslovna_slika.slika != null" style="width: 80px;"
                         src="uploads/proizvodi/{{p.naslovna_slika.slika}}" alt="">
                    <img ng-if="p.naslovna_slika.slika == null" style="width: 80px;" src="img/nophoto.png" alt="">
                </td>
                <td>{{p.naziv}}</td>
                <td>{{p.sifra}}</td>
                <td>
                    <span ng-if="p.home_strana == 1" style="color: green">Da</span>
                    <span ng-if="p.home_strana == 0" style="color: red">Ne</span>
                </td>
                <td>
                    <span ng-if="p.shop_strana == 1" style="color: green">Da</span>
                    <span ng-if="p.shop_strana == 0" style="color: red">Ne</span>
                </td>
                <td>
                    <a class="btn btn-danger" ng-click="deleteProizvod(p.proizvod_id)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="editProizvod(p.proizvod_id)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>