<div class="container loginDiv">
  <img src="img/grosis.png" alt="">
  <p ng-if="!message.loggedIn" style="color: red;margin-top: 30px;font-size: 20px;">
    {{message.msg}}
  </p>
  <form ng-submit="loginAdmin()">
    <div class="form-group">
      <input type="text" ng-model="login.username" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" ng-model="login.password" placeholder="Password">
    </div>
    <button type="submit">Login</button>
  </form>
</div>