<div ng-include="'view/partials/header.html'"></div>

<div class="header" style="background: url('img/kontakt.jpg')">
  <div class="filter">
    <h1>Kontakt</h1>
  </div>
</div>

<div class="container kontakt">
  <div class="col-md-6 kontaktForm">
    <h2>Pošaljite poruku</h2>
    <form ng-submit="send()">
      <div class="form-group">
        <input type="text" placeholder="Ime i prezime" ng-model="kontakt.ime">
      </div>
      <div class="form-group">
        <input type="text" placeholder="E-mail" ng-model="kontakt.email">
      </div>
      <div class="form-group">
        <textarea rows="10" placeholder="Poruka" ng-model="kontakt.poruka"></textarea>
      </div>
      <button type="submit">Pošalji</button>
      <h2>{{msg}}</h2>
    </form>
  </div>
  <div class="col-md-6 osnovniPodaci">
    <h2>Osnovni kontakt podaci</h2>
    <ul>
      <li>
        <img src="img/icons/placeholder.png" alt="">
        Dušanova 28
      </li>
      <li>
        <img src="img/icons/telephone.png" alt="">
        018/520-333
      </li>
      <li>
        <img src="img/icons/mail.png" alt="">
        <a href="mailto:info@shoecentergrosis.rs">info@shoecentergrosis.rs</a>
      </li>
    </ul>
  </div>
</div>

<div id="map"></div>

<div ng-include="'view/partials/footer.html'"></div>

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 43.317129, lng: 21.896465},
            zoom: 15,
            scrollwheel: false,
        });
        var marker = new google.maps.Marker({
            position: {lat: 43.317129, lng: 21.896465},
            map: map,
            animation: google.maps.Animation.DROP,
            title: "Grosis.doo",
            icon: "img/icons/map.png"
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmACaNefY4b9PwzP3-58OOVcQmAlQDo10&callback=initMap">
</script>
