<div ng-include="'view/partials/header.html'"></div>

<div class="container">
  <div class="cartFinal">
    <div class="cartHeader">
      <div class="container-fluid">
        <h1>Korpa</h1>
      </div>
    </div>
    <div class="container-fluid">
      <div class="table-responsive">
        <table class="table table-striped cartTable">
          <thead>
          <tr>
            <th>Br.</th>
            <th>Slika</th>
            <th>Naziv</th>
            <th>Broj</th>
            <th>Cena</th>
            <th>Količinа</th>
            <th>Izbriši</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="c in cart track by $index">
            <td>
              <p>{{$index+1}} .</p>
            </td>
            <td style="width: 150px;">
              <div ng-if="c.slika != undefined" class="tableImage" style="background: url('uploads/proizvodi/{{c.slika}}');"></div>
              <div ng-if="c.slika == undefined" class="tableImage" style="background: url('img/nophoto.png');"></div>
            </td>
            <td>
              <p>{{c.naziv}}</p>
            </td>
            <td>
              <p>{{c.velicina}}</p>
            </td>
            <td>
              <p>{{c.cena * c.kolicina | currency:"":2}} RSD</p>
            </td>
            <td style="text-align: center;width: 315px; white-space: nowrap !important;">
              <form>
                <button ng-click="decrement($index)">
                  <span>-</span>
                </button>
                <input type="number" class="quantInput" min="1" ng-model="c.kolicina" readonly>
                <button ng-click="increment($index)">
                  <span>+</span>
                </button>
              </form>
            </td>
            <td>
              <p ng-click="remove($index)">
                <img src="img/icons/garbage.png" alt="">
              </p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="sumOfCartDiv">
        <h3>Ukupno: {{sum | currency:"":0}} RSD</h3>
        <button class="myBtn" ng-click="confirm()">Izvrši kupovinu</button>
      </div>
    </div>
  </div>
</div>

<div ng-if="nextStep">
  <div class="container finishForm" ng-if="!finished">
    <h2>Potvrdite kupovinu unosom sledećih podataka:</h2>
    <div class="col-md-12">
      <form ng-submit="finish(finishForm.$valid)" autocomplete="off" name="finishForm" novalidate>
        <div class="form-group"
             ng-class="{'error': finishForm.ime.$invalid && (!finishForm.ime.$pristine || finishForm.$submitted)}">
          <label for="ime">Ime I Prezime *</label>
          <input type="text" required ng-model="info.ime" name="ime" placeholder="Ime I Prezime">
          <p ng-if="finishForm.ime.$error.required && (!finishForm.ime.$pristine || finishForm.$submitted)">Molimo
            unesite Vaše ime.</p>
        </div>
        <div class="form-group"
             ng-class="{'error': finishForm.telefon.$invalid && (!finishForm.telefon.$pristine || finishForm.$submitted)}">
          <label for="telefon">Telefon *</label>
          <input required type="text" ng-model="info.telefon" name="telefon" placeholder="Telefon">
          <p ng-if="finishForm.telefon.$error.required && (!finishForm.telefon.$pristine || finishForm.$submitted)">
            Molimo unesite Vaš telefon.</p>
        </div>
        <div class="form-group"
             ng-class="{'error': finishForm.email.$invalid && (!finishForm.email.$pristine || finishForm.$submitted)}">
          <label for="email">E-mail *</label>
          <input required type="email" name="email" ng-model="info.email" placeholder="E-mail">
          <p ng-if="finishForm.email.$error.required && (!finishForm.email.$pristine || finishForm.$submitted)">Molimo
            unesite Vaš e-mail.</p>
          <p ng-if="finishForm.email.$error.email && (!finishForm.email.$pristine || finishForm.$submitted)">E-mail nije
            u ispravnoj formi. Molimo unesite e-mail u formi example@gmail.com</p>
        </div>
        <div class="form-group"
             ng-class="{'error': finishForm.adresa.$invalid && (!finishForm.adresa.$pristine || finishForm.$submitted)}">
          <label for="adresa">Adresa *</label>
          <input required type="text" name="adresa" ng-model="info.adresa" placeholder="Adresa">
          <p ng-if="finishForm.adresa.$error.required && (!finishForm.adresa.$pristine || finishForm.$submitted)">Molimo
            unesite Vašu adresu.</p>
        </div>
        <div class="form-group"
             ng-class="{'error': finishForm.grad.$invalid && (!finishForm.grad.$pristine || finishForm.$submitted)}">
          <label for="grad"> Grad *</label>
          <input required type="text" name="grad" ng-model="info.grad" placeholder="Grad">
          <p ng-if="finishForm.grad.$error.required && (!finishForm.grad.$pristine || finishForm.$submitted)">Molimo
            unesite Vaš grad.</p>
        </div>
        <div class="form-group"
             ng-class="{'error': finishForm.code.$invalid && (!finishForm.code.$pristine || finishForm.$submitted)}">
          <label for="code">Poštanski broj *</label>
          <input required type="text" name="code" ng-model="info.code" placeholder="Poštanski broj">
          <p ng-if="finishForm.code.$error.required && (!finishForm.code.$pristine || finishForm.$submitted)">Molimo
            unesite Vaš poštanski broj.</p>
        </div>
        <button class="myBtn" type="submit">Izvrši kupovinu</button>
      </form>
    </div>
  </div>
  <div class="container" ng-if="finished">
    <div class="col-md-12">
      <h1 style="margin-top: 200px;
                 text-align: center;
                 margin-bottom: 200px;">Uspešno ste izvršili kupovinu.</h1>
    </div>
  </div>
</div>

<div ng-include="'view/partials/footer.html'" ng-if="finished"></div>