<div ng-include="'view/partials/header.html'"></div>
<div class="header" style="background: url('img/onama.jpg');background-position: 0 85% !important">
    <div class="filter">
        <h1>O nama</h1>
    </div>
</div>
<div class="container onamaDiv">
    <p>
        Shoecenter Grosis otvoren je marta 2017. godine i nalazi se u Dušanovoj ulici broj 28 u Nišu.
        <br>
        <br> Shoecenter Grosis bavi se prodajom obuće visokog kvaliteta i modernog dizajna. U našoj ponudi nalaze se sandale, cipele, čizme i patike renomiranih brendova: GEOX, BUGATTI, JORGE BISCHOFF, ALBERTO LA TORRE, MABELLINI, X-TI.
    </p>
    <p>
        Svaka kolekcija je pažljivo odabrana i sadrži modele koji su atraktivni, kvalitetni, moderni, udobni i koji će zadovoljiti kriterijume naših kupaca.<br><br> Prodajni asortiman obogatili smo tašnama i italijanskom kozmetikom za obuću. <br><br> Trudimo se da našim kupcima izađemo u susret i zato nudimo mogućnost plaćanja do 24 mesečne rate putem administrativne zabrane, gotovinski popust od 10 odsto, kao i plaćanje čekovima, karticama i Intesa karticom na 12 mesečnih rata bez kamate.
    </p>
</div>
<div ng-include="'view/partials/footer.html'"></div>