<div ng-include="'view/partials/header.html'"></div>
<div class="header">
    <div class="filter">
        <h1>Kvalitetna i udobna obuća renomiranih brendova na jednom mestu</h1>
    </div>
</div>
<div class="container content">
    <div class="col-md-6 contentTilt">
        <div class="tilt" style="background: url('img/ukratkoo.jpg');background-size: cover;">
            <div>
                <p>Ukratko o nama</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 contentTxt">
        <p>
            Shoecenter Grosis bavi se prodajom obuće visokog kvaliteta i modernog dizajna. U našoj ponudi nalaze se sandale, cipele, čizme i patike renomiranih brendova: GEOX, BUGATTI, JORGE BISCHOFF, ALBERTO LA TORRE, MABELLINI, X-TI.
            <br>
            <br> Naš asortiman obuhvata preko 400 artikala ekskluzivnih proizvođača, koji nalaze put do kupaca zahvaljujući tradiciji i kvalitetu. Svaka kolekcija je pažljivo odabrana i sadrži modele koji su atraktivni, moderni, udobni i koji će zadovoljiti kriterijume naših klijenata.
            <br>
            <br> Shoecenter Grosis - najkraći put do savršenih cipela. Dobrodošli!
        </p>
    </div>
</div>
<div class="parallax">
    <div class="path">
        <div class="col-md-3">
            <img src="img/icons/manshoe.png" alt="">
            <p>
                U našoj prodavnici pronaći ćete veliki izbor muške i ženske obuće poznatih brendova za svaku priliku.
            </p>
        </div>
        <div class="col-md-3">
            <img src="img/icons/runner.png" alt="">
            <p>
                Pored cipela i čizama poznatih brendova, čekaju vas novi modeli patika i sandala. Budite spremni za svaku sezonu!
            </p>
        </div>
        <div class="col-md-3">
            <img src="img/icons/bag.png" alt="">
            <p>
                Dobra tašna upotpuniće vaš stil. Pogledajte ponudu koju smo pripremili i odaberite odgovarajući model za dnevnu i večernju varijantu.
            </p>
        </div>
        <div class="col-md-3">
            <img src="img/icons/wallet.png" alt="">
            <p>
                Klijent nam je na prvom mestu i zato smo omogućili mnoge povoljnosti prilikom plaćanja.
            </p>
        </div>
    </div>
</div>
<div class="loading" style="height: 100px;margin-top: 50px;margin-bottom: 50px;" ng-if="!homeLoading">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
</div>
<div class="container homeShop pocetna" ng-if="homeLoading && !empty">
        <h1>Najnoviji proizvodi</h1>
        <div class="owl-carousel">
            <div class="col-md-3" style="width: 100%" ng-repeat="p in proizvodi track by $index">
                <div class="productDiv">
                    <div class="akcijaDiv" ng-if="p.fk_promocija_id != '0'">
                        <p ng-if="p.fk_promocija_id == '2'">Akcija</p>
                        <p ng-if="p.fk_promocija_id == '3'">Super Akcija</p>
                        <p ng-if="p.fk_promocija_id == '5'">Mega Akcija</p>
                    </div>
                    <div ui-sref="product-preview ({id: p.proizvod_id})" ng-if="p.naslovna_slika.slika != null" class="productBackground" style="background: url('uploads/proizvodi/{{p.naslovna_slika.slika}}'); cursor: pointer"></div>
                    <div ui-sref="product-preview ({id: p.proizvod_id})" ng-if="p.naslovna_slika.slika == null" class="productBackground" style="background: url('img/nophoto.png'); cursor: pointer"></div>
                    <h2>{{p.naziv}}</h2>
                    <h3 class="price">{{p.cena | currency: "":0}} RSD <span ng-if="p.stara_cena != 0">/ {{p.stara_cena | currency: "":0}} RSD</span>
        </h3>
                    <button ui-sref="product-preview ({id: p.proizvod_id})">Opširnije</button>
                </div>
            </div>
    </div>
</div>
<div ng-include="'view/partials/footer.html'"></div>