.logoDiv {
  position: relative;
  h1 {
    position: absolute;
    top: 8px;
    left: 135px;
  }
}
.links {
  ul {
    li {
      &:last-child {
        i {
          padding-left: 10px;
          position: relative;
          top: 1px;
        }
      }
    }
  }
}
.loginDiv {
  text-align: center;
  padding-top:100px;
  form {
    margin-top: 50px;
    input {
      width: 250px;
      padding: 10px;
      border: 2px solid black;
      outline: none;
    }
    button {
      border: 2px solid black;
      background: white;
      padding: 5px 10px 5px 10px;
      outline: none;
      transition: .2s;
      &:hover {
        background: black;
        color: white;
      }
    }
  }
}
.dodajAtributDiv {
  .col-md-4 {
    height: auto;
    min-height: 500px;
  }
  h1 {
    &:after {
      content: "";
      display: block;
      background: black;
      width: 100%;
      height: 1px;
      margin: auto;
      margin-top: 10px;
    }
  }
  form {
    margin-top: 50px;
    margin-bottom:20px;
    overflow: auto;
    input, textarea {
      border: 2px solid black;
      width: 100%;
      padding: 10px;
      outline: none;
    }
    textarea {
      resize: none;
    }
    label {
      font-size: 17px;
      input {
        margin-right: 5px;
      }
    }
    select {
      padding: 10px;
      border: 2px solid black;
      width: 100%;
      outline: none;
    }
    .dodajBtn {
      width: 100px;
      background: white;
      padding: 5px;
      border: 2px solid black;
      transition: .2s;
      outline: none;
      &:hover {
        background: black;
        color: white;
      }
    }
    .nextStepBtn {
      padding: 10px 15px 10px 15px;
      border: 2px solid black;
      transition: .2s;
      text-align: center;
      cursor: pointer;
      &:hover {
        background: black;
        color: white;
      }
    }
    .dodajProizvodBtn {
      width: 100%;
      padding: 10px 15px 10px 15px;
      background: white;
      margin-top: 15px;
      border: 2px solid black;
      transition: .2s;
      &:hover {
        background: black;
        color: white;
      }
    }
    .cancelBtn {
      text-decoration: none;
      width: 100%;
      padding: 10px;
      margin-top: 15px;
      display: block;
      text-align: center;
      border: 2px solid black;
      color: black;
      cursor: pointer;
    }
    .step2 {
      .imagePreview {
        width: 200px;
        margin: 10px;
        display: inline-block;
        height: 200px;
        background-size: cover !important;
        background-position: center !important;
      }
    }
    table {
      margin-top: 20px;
      th {
        text-align: center;
      }
      td {
        text-align: center;
        &:first-child {
          padding-top: 12px;
          font-size: 18px;
          width: 50%;
          word-break: break-all;
        }
      }
    }
  }
}
.editImages {
  .panPreviewDiv {
    p {
      font-size: 16px;
      span {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
  .imagePreviewDiv {
    position: relative;
    display: inline-block;
    i {
      right: 0;
      top: 0;
      color: red;
      cursor: pointer;
      position: absolute;
      font-size: 25px;
    }
  }
}
.panList {
  list-style: none;
  li {
    display: inline-block;
    margin: 5px;
    img {
      width: 50px;
    }
  }
}
.allProducts {
  .table {
    margin-top: 30px;
    margin-bottom: 100px;
    td {
      font-size: 18px;
    }
  }
}
.separator {
  border-right: 1px solid black;
}
.topSeparator {
  border-top: 1px solid black;
}
.cke_chrome {
  border: 2px solid black !important;
}
.imagePreview {
  width: 200px;
  margin: 10px;
  display: inline-block;
  height: 200px;
  background-size: cover !important;
  background-position: center !important;
}
.fileContainer {
  overflow: hidden;
  position: relative;
  border: 2px solid black;
  font-size: 18px;
  padding: 10px 30px;
  cursor: pointer;
  letter-spacing: 1px;
  width: 100%;
  height: 50px;
}
.addImageDiv {
  overflow: hidden;
  position: relative;
  border: 2px solid black;
  font-size: 18px;
  top: -5px;
  cursor: pointer;
  letter-spacing: 1px;
  width: 200px;
  height: 200px;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 55px;
    transform: translate(-50%, -50%);
  }
}
.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.addImageDiv [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
@media (max-width: 620px) {
  .myInput {
    width: 80%;
  }
  .fileContainer, .addImageDiv {
    width: 80%;
  }
}

.searchProducts {
  border: 1px solid black;
  padding: 10px;
  outline: none;
  width: 100%;
  background: white;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 55;
  top: 0;
  display: none;
  left: 0;
  background: rgba(0, 0, 0, 0.67);
  justify-content: center;
  align-items: center;
  i {
    color: white;
  }
}


.sizeChart {
  margin-top: 20px;
  margin-bottom: 20px;
  h4 {
    margin-bottom: 20px;
  }
  p {
    padding: 5px 10px;
    border: 1px solid black;
    background: white;
    display: inline-block;
    margin: 5px;
    position: relative;
  }
  i {
    position: absolute;
    top: -10px;
    color: red;
    font-size: 18px;
    cursor: pointer;
    right: -5px;
  }
}
.kratakOpis {
  resize: vertical !important;
  height: 100px;
}

.editSlikeTitle {
  display: block;
  margin-left: 10px;
  img {
    width: 42px;
  }
  p {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
  }
}